body{
  margin: 0;
  padding: 0;
  text-align: center;
}

.container{
  text-align: left;
  margin: 20px auto;
  padding-top: 10px auto;
  /* border-radius: 30px; */
  border: 4px solid #eee;
  width: 100%;
  align-content: center;
  /* background: #424242; */
  /* background: #fff; */
}

input[type="submit"]{
  padding: 10px;
  color: #fff;
  background: #0098cb;
  width: 200px;
  margin: 20px auto;
  margin-top: 30px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}


input[type="submit"]:hover{
  margin-top: 30px;
  background-color: #00b8eb;
}

a{
    margin-top: 40px;
}

.imagen_fondo{
  max-width: 80%;
  position: relative;
  margin-bottom: 10%;
  /* z-index: -1; */
  filter:alpha(opacity:60);
  -moz-opacity:0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
  padding-top: 10%;

}
